.content-style {
    margin-top: 40rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 2rem 1rem;
    position:absolute;
    overflow-x: inherit;
    overflow-y: inherit;
  }

.dd-container{
    justify-content: center;
}

.dd-row { 
    display:flex; 
    position:absolute;
    width:100%;
    height:max-content; 
    background-color:#f8f9fa;
    justify-content: center;
}
.card-container {
    /* margin-top: 12rem; */
    margin-left:auto;
    font-size: 22pt;
    font-weight: bold;
    margin-right: auto;
    padding: 2rem 2rem;                             
    display: flex;
    align-items: left;
    justify-content: center; 
    /* height:100%; */
    margin-bottom: 10rem;
    height: 60rem;
    
}
.card-header {
    color: black;
    font-size: 20pt;
    font-style: bold;
}
    
.title-style {
    color:black;
    font-size: 18pt;
    font-style: italic;
  }
  
  
.logo-col {
    font-size: 20pt;
    color:black;
    text-align:center;       
}
h4::first-letter {
    font-size: 125%;
    color: black;
    font-weight:bolder;
  }

.orb-image {
    align-items:center;
    width:150px;
    height: 100px;
}

.motto_header{
    font-size: 70pt;
    width:100%;
    text-align: center;
    color: black;
}
.card-title-style{
    font-weight: bolder
    color: black;
    justify-content: center;
    font-size: 18pt;
    height:2rem;
}
.card-style{
    margin-top: 10rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 2rem 2rem;
    height: 450px;
    width: 400px;
    opacity: 85%;
    width:800px;
    height:600px
}


.img-style {
    background-image: url("/assets/background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


